<div class='row'>
    <div class='col'>
        <h1>{{game.info.title}}</h1>
        <div>Самая низкая историческая цена: &dollar;{{game.cheapestPriceEver.price}} ({{cheapestDate}})</div>
        <br>
    </div>
</div>

<h5>Текущие скидки:</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Цена</th>
                <th scope="col">Скидка</th>
                <th scope="col">Магазин</th>
                <th scope="col">Ссылка</th>
            </tr>
        </thead>
        {{#if sales}}
        <tbody>
            {{#each sales}}
            <tr>
                {{#if this.isFree}}
                <td scope="row"><span
                        class="text-secondary"><small><s>&dollar;{{retailPrice}}</s></small></span><strong>
                        Бесплатно</strong></td>
                {{else}}
                <td><span class="text-secondary"><small><s>&dollar;{{retailPrice}}</s></small></span> &dollar;{{price}}
                </td>
                {{/if}}
                <td scope="row">{{savings}}%</td>
                <td scope="row">{{storeID}}</td>
                <td scope="row"><a href="https://www.cheapshark.com/redirect?dealID={{dealID}}">Купить</a></td>
            </tr>
            {{/each}}
        </tbody>
        {{/if}}
    </table>
    {{#if otherDeals}}
    <h5>Другие предложения:</h5>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Цена</th>
                <th scope="col">Магазин</th>
                <th scope="col">Ссылка</th>
            </tr>
        </thead>
        <tbody>
            {{#each otherDeals}}
            <tr>
                <td>&dollar;{{price}}</td>
                <td scope="row">{{storeID}}</td>
                <td scope="row"><a href="https://www.cheapshark.com/redirect?dealID={{dealID}}">Купить</a></td>
            </tr>
            {{/each}}
        </tbody>
        {{/if}}